.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .developer-info,
  .app-intent,
  .social-icons {
    flex: 1;
  }
  
  .social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 24px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #00bcd4; /
  }